<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-item active carouselImg">
    <img src="/assets/images/carousel01.jpg" />
    <img src="/assets/images/carousel02.jpg" />
    <img src="/assets/images/carousel03.jpg" />
    <img src="/assets/images/carousel04.jpg" />
    <img src="/assets/images/carousel05.jpg" />
    <img src="/assets/images/carousel06.jpg" />
    <img src="/assets/images/carousel07.jpg" />
    <img src="/assets/images/carousel08.jpg" />
  </div>
  <div class="carousel-item carouselImg">
    <img src="/assets/images/carousel01.jpg" />
    <img src="/assets/images/carousel02.jpg" />
    <img src="/assets/images/carousel03.jpg" />
    <img src="/assets/images/carousel04.jpg" />
    <img src="/assets/images/carousel05.jpg" />
    <img src="/assets/images/carousel06.jpg" />
    <img src="/assets/images/carousel07.jpg" />
    <img src="/assets/images/carousel08.jpg" />
  </div>
</div>
