#carousel {
  height: 9.16rem;
  background-color: #1d3557;
  margin-bottom: 0.65rem;
  overflow: hidden;

  div {
    height: 100%;
    img {
      height: 100%;
      border-radius: 0.3em;
      // box-shadow: 0px 3px 4px black;
    }
  }
}
