<div class="footbar-bg p-2">
  <div class="footbar pt-3 pb-1">
    <div>Semintra's Canada<img src="/assets/images/mapleLeaf.png" />Trails</div>
    <div id="social" class="gap-2 d-flex align-items-center">
      <a href="https://web.whatsapp.com/" target="_blank"
        ><img src="/assets/images/whatsapp.png" alt="WhatsApp-Logo"
      /></a>
      <a href="https://twitter.com/" target="_blank"
        ><img src="/assets/images/instagram.png" alt="Twitter-Logo"
      /></a>
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="/assets/images/twitter.png" alt="Facebook-Logo"
      /></a>
      <a href="https://www.instagram.com/" target="_blank"
        ><img src="/assets/images/facebook.png" alt="Instagram-Logo"
      /></a>
    </div>
  </div>
</div>
