<h1>Our guided adventures...</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div *ngFor="let trail of travels" class="col">
    <div class="card">
      <img src="{{ trail.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ trail.adventure }}</h5>
        <p>{{ trail.province }}</p>
        <p class="card-text">{{ trail.description }}</p>
        <p>
          {{ trail.start }} , {{ trail.duration }} , {{ trail.price }} ,
          {{ trail.difficulty }}
        </p>
      </div>
    </div>
  </div>
</div>
