.navbar {
  background-color: #f1faee;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 2px black;
  color: #a8dadc;
}

.navbar-bg {
  background-color: #457b9d;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 4px black;
}

.btn {
  // background-color: #e63946;
  box-shadow: 0px 2px 2px black;
  color: #e63946;
}

.navCart {
  padding: 0.5rem;
  background-color: #e63946;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 2px black;
  color: black;
}

li .btn {
  color: #a8dadc;
  background-color: #457b9d;
  margin-right: 0.7rem;
  box-shadow: 0px 2px 2px black;
}
