.navbar {
  background-color: #f1faee;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 2px black;
  color: #a8dadc;
}

.navbar-bg {
  background-color: #457b9d;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 4px black;
}

.navCart {
  padding: 0.5rem;
  background-color: #457b9d;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 2px black;
  color: white;
  display: inline-block;
}

a:link {
  text-decoration: none;
}

.itemsNav {
  text-decoration: none;
  font-size: 1rem;
}

li .btn {
  color: white;
  background-color: #457b9d;
  margin-right: 0.7rem;
  box-shadow: 0px 2px 2px black;
}
