<!-- ### Product-details page with Bootstrap cards ### -->

<div class="homeBG py-4">
  <div class="card mx-4 mb-2 p-2">
    <img src="{{ product.image }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-title">
        {{ product.adventure }}<img src="/assets/images/mapleLeaf.png" />
      </p>
      <p class="province">Province: {{ product.province }}</p>
      <p class="description">
        <i>"{{ product.descriptionLong }}"</i>
      </p>
      <p class="start">Start: {{ product.start }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Duration: {{ product.duration }} days</li>
        <li class="list-group-item">Price: {{ product.price | currency }}</li>
        <li class="list-group-item">Difficulty: {{ product.difficulty }}</li>
      </ul>
    </div>

    <div class="btns">
      <a (click)="addToCart(product)" class="btn btn-sm px-3"
        ><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Buy</a
      >
    </div>
  </div>
</div>
