.homeBG {
  background-image: url(/assets/images/backGroundDark.jpg);
  border-radius: 0.3rem;
  background-size: 60%;
  background-position: top;
  box-shadow: 0px 2px 4px black;
}

.blogPic {
  display: flex;
  img {
    margin-right: 1rem;
    width: 45%;
    border-radius: 0.3rem;
    box-shadow: 0px 2px 4px black;
  }
}

.blog-detail li {
  margin-right: 1.2rem;
}

.card {
  background-color: #f1faee;
  border: 0.5rem solid #a8dadc;
  box-shadow: 0px 2px 4px black;
}

.card-title {
  color: #e63946;
}

ul.blog-tags li {
  padding-right: 1rem;
}

div ul.blog-tags li i {
  padding-right: 0.5rem;
  color: #e63946;
  font-size: 14px;
}
