<div class="homeBG pt-4 pb-2">
  <div class="card mx-4 mb-4">
    <div class="row g-0">
      <div class="col-10 blog mx-auto pt-4">
        <div class="card-title">
          <h2>
            Lorem ipsum dolor sit amet<img src="/assets/images/mapleLeaf.png" />
          </h2>
        </div>
        <ul class="blog-detail list-inline d-flex mt-4 mb-3">
          <li><i class="fa fa-calendar"></i> 27/02/2014</li>
          <li><i class="fa fa-clock"></i> 19:41</li>
          <li><i class="fa fa-user"></i> John Doe</li>
          <li><i class="fa fa-comments"></i> 124 Comments</li>
        </ul>
        <div class="blogPic mb-4">
          <img
            class="img-responsive pull-left"
            src="/assets/images/blog01.jpg"
          />
          <img
            class="img-responsive pull-left"
            src="/assets/images/blog02.jpg"
          />
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis
          lacus ac semper viverra. Etiam consequat odio sollicitudin metus
          condimentum, quis hendrerit erat adipiscing. Cras non turpis ut eros
          varius laoreet a ut felis. Aliquam sodales, purus pulvinar tincidunt
          congue, elit mauris sodales nisl, consequat iaculis urna enim in
          lectus. Proin at ornare lacus. Curabitur sodales imperdiet ante, eget
          fermentum nulla consequat id. Vestibulum quis tellus ac lectus luctus
          varius nec sit amet nunc. Aliquam elit orci, semper vitae aliquet vel,
          ultrices nec sem. Morbi lorem ligula, tempus eu ultrices sit amet,
          varius id quam. Donec vestibulum arcu et augue porta, at mattis neque
          facilisis. Donec vulputate eu risus ut volutpat. Praesent vel rhoncus
          velit, quis vestibulum dui. Phasellus sodales sapien ligula, quis
          consequat diam tristique id. Donec vel rhoncus sem, id elementum quam.
          Aliquam erat volutpat.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis
          lacus ac semper viverra. Etiam consequat odio sollicitudin metus
          condimentum, <a href="#">quis hendrerit</a> erat adipiscing. Cras non
          turpis ut eros varius laoreet a ut felis. Aliquam sodales, purus
          pulvinar tincidunt congue, elit mauris sodales nisl, consequat iaculis
          urna enim in lectus. Proin at ornare lacus. Curabitur sodales
          imperdiet ante, eget fermentum nulla consequat id. Vestibulum quis
          tellus ac lectus luctus varius nec sit amet nunc. Aliquam elit orci,
          semper vitae aliquet vel, ultrices nec sem.
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>In venenatis lacus ac semper viverra</li>
          <li>Etiam consequat odio sollicitudin metus condimentum</li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet,
          <b
            >consectetur adipiscing elit. In venenatis lacus ac semper
            viverra</b
          >. Etiam consequat odio sollicitudin metus condimentum,
          <i>quis hendrerit erat adipiscing</i>. Cras non turpis ut eros varius
          laoreet a ut felis. Aliquam sodales, purus pulvinar tincidunt congue,
          elit mauris sodales nisl, consequat iaculis urna enim in lectus. Proin
          at ornare lacus. Curabitur sodales imperdiet ante, eget fermentum
          nulla consequat id. Vestibulum quis tellus ac lectus luctus varius nec
          sit amet nunc. Aliquam elit orci, semper vitae aliquet vel, ultrices
          nec sem.
        </p>
        <ul class="blog-tags list-inline d-flex">
          <li>
            <a href="#"><i class="fa fa-tag"></i>home</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-tag"></i>blog</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-tag"></i>travels</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-tag"></i>reviews</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-tag"></i>weather</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
