<h3>Cart</h3>

<div class="card col-8 mx-auto mb-5">
  <table id="ct" class="table table-striped table-bordered">
    <tr class="cart-item" *ngFor="let item of items">
      <td>{{ item.adventure }}</td>
      <td>{{ item.price | currency }}</td>
    </tr>
    <tr>
      <td>Total Sum:</td>
      <td>{{ sumPrice | currency }}</td>
    </tr>
  </table>
</div>

<div id="buyTable"></div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name"> Name </label>

    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>

    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
