// ### Background image style right here ###

.homeBG {
  background-image: url(/assets/images/backGroundDark.jpg);
  border-radius: 0.3rem;
  background-size: 60%;
  background-position: top;
  box-shadow: 0px 2px 4px black;
}

// ### Card styling begins here ###

.card {
  background-color: #f1faee;
  border: 0.5rem solid #a8dadc;
  box-shadow: 0px 2px 4px black;
}

.card-title {
  color: white;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  img {
    width: 3rem;
    position: relative;
    top: -0.4rem;
  }
  .fas {
    color: #e63946;
  }
}

// ### Table styling begins here ###

.table {
  background-color: white;
}

.cardTable {
  box-shadow: 0px 1px 2px black;
}

.checkLine {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #457b9d;
  box-shadow: 0px 2px 2px black;
}

input {
  box-shadow: 0px 0px 1px black;
}
