<div class="homeBG p-4">
  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col" *ngFor="let reviews of reviews">
      <div class="card mb-3 mx-auto p-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ reviews.image }}" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">
                {{ reviews.name }}<img src="/assets/images/mapleLeaf.png" />
              </h3>
              <p class="card-text">
                <i>"{{ reviews.review }}"</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
