.wrapper {
  background-color: #1d3557;
  padding: 0.8rem;
  padding-bottom: 0.001rem;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 6px black;
}

.wrapper2 {
  background-color: #457b9d;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px black;
}
