<h2>Our guided adventures...</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let product of products; index as productId">
    <div class="card">
      <img src="{{ product.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.adventure }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <div>
        <a (click)="addToCart(product)" class="btn btn-primary">Buy</a>
      </div>
      <div>
        <a routerLink="products/{{ productId }}" class="btn btn-primary"
          >More</a
        >
      </div>
    </div>
  </div>
</div>
